@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format('truetype')
}

/* Theme */
:root {
    --ff-base: 'Fira Code', monospace;
    --top-nav-height: 4.5rem;
}

:root[data-theme=light] {
    --clr-text: hsl(240, 9%, 4%);
    --clr-background: hsl(260, 27%, 98%);
    --clr-primary: hsl(253, 51%, 50%);
    --clr-secondary: hsl(253, 72%, 72%);
    --clr-accent: hsl(253, 93%, 65%);
}

:root[data-theme=dark] {
    --clr-text: hsl(260, 27%, 98%);
    --clr-background: hsl(240, 9%, 4%);
    --clr-primary: hsl(253, 51%, 50%);
    --clr-secondary: hsl(253, 72%, 72%);
    --clr-accent: hsl(253, 93%, 65%);
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}

img {
    max-width: 100%;
    display: block;
}

/* Globals */
body {
    font-family: var(--ff-base);
    background-color: var(--clr-background);
    color: var(--clr-text);
    line-height: 1.6;
    transition: background-color .15s;
}

/* todo: typography */

a {
    color: var(--clr-primary);
}

a:hover,
a:focus {
    color: var(--clr-accent);
}

/* Utility */

.fx {
    display: flex;
}

.fx--col {
    display: flex;
    flex-direction: column;
}

.fx-grow {
    flex-grow: 1
}

.fx-cc {
    align-items: center;
    justify-content: center;
}

.flow>*+* {
    margin-top: 1em;
}

.full-height {
    height: calc(100vh - var(--top-nav-height));
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}