@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-VariableFont_wght.ttf") format('truetype')
}

/* @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format('truetype')
} */

@font-face {
    font-family: "Mako";
    src: url("/fonts/Mako-Regular.ttf") format('truetype')
}

@font-face {
    font-family: "Signika Negative";
    src: url("/fonts/SignikaNegative-VariableFont_wght.ttf") format('truetype')
}

/* Theme */
:root {
    --ff-base: 'Signika Negative', sans-serif;
    --top-nav-height: 4.5rem;
    --standard-negative: 2rem;
}

:root[data-theme=light] {
    --clr-title: #2d2c37;
    --clr-text: #1d1d21;
    --clr-background: hsl(260, 27%, 98%);
    --clr-primary: #101828;
    --clr-secondary: #465366;
    --clr-accent: #d8d8d8;
}

:root[data-theme=dark] {
    --clr-text: hsl(260, 27%, 98%);
    --clr-background: hsl(240, 9%, 4%);
    --clr-primary: #101828;
    --clr-secondary: #465366;
    --clr-accent: #d8d8d8;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}

img {
    max-width: 100%;
    display: block;
}

/* Globals */
body {
    font-family: var(--ff-base);
    background-color: var(--clr-background);
    color: var(--clr-text);
    line-height: 1.6;
    transition: background-color .15s;
}

/* todo: typography */

a {
    color: var(--clr-primary);
}

a:hover,
a:focus {
    color: var(--clr-accent);
}

/* Utility */

.fx {
    display: flex;
}

.inline-fx {
    display: inline-flex;
}

.fx--col {
    flex-direction: column;
}

.fx-grow {
    flex-grow: 1
}

.fx-cc {
    align-items: center;
    justify-content: center;
}

.fx-ac {
    align-items: center;
}

.fx-jc {
    align-items: center;
}

.flow>*+* {
    margin-top: 1em;
}

.top-left-negative {
    margin-top: var(--standard-negative);
    margin-left: var(--standard-negative);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}