@font-face {
	font-family: 'Oswald';
	src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

/* @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format('truetype')
} */

@font-face {
	font-family: 'Mako';
	src: url('/fonts/Mako-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Signika Negative';
	src: url('/fonts/SignikaNegative-VariableFont_wght.ttf') format('truetype');
}

/* Theme */
:root {
	--ff-base: 'Signika Negative', sans-serif;
	--top-nav-height: 3.5rem;
	--standard-negative: 2rem;
	--sidebar-width: clamp(16rem, 18vw, 20rem);
	interpolate-size: allow-keywords;
}

/* :root[data-theme='light'] {
	--clr-text: hsl(180, 22%, 9%);
	--clr-background: hsl(180, 25%, 97%);
	--clr-primary: hsl(181, 36%, 30%);
	--clr-secondary: hsl(182, 45%, 68%);
	--clr-accent: hsl(181, 54%, 47%);
}
:root[data-theme='dark'] {
	--clr-text: hsl(180, 22%, 91%);
	--clr-background: hsl(180, 25%, 3%);
	--clr-primary: hsl(181, 36%, 70%);
	--clr-secondary: hsl(182, 45%, 32%);
	--clr-accent: hsl(181, 54%, 53%);
} */

:root[data-theme='light'] {
	--clr-text-0: oklch(21.68% 0.014 196.14);
	--clr-text-1: oklch(from var(--clr-text-0) calc(l + 0.1) c h);
	--clr-text-2: oklch(from var(--clr-text-0) calc(l + 0.2) c h);

	/* --clr-background: oklch(97.91% 0.004 197.09); */
	/* --clr-background: oklch(92% 0.004 197.09); */
	--clr-background: oklch(0.94 0.01 200.85);

	--clr-background-1: oklch(from var(--clr-background) calc(l + 0.01) c h);
	--clr-background-2: oklch(from var(--clr-background) calc(l + 0.02) c h);

	--clr-primary: oklch(47.76% 0.057 197.01);
	--clr-secondary: oklch(81.16% 0.071 198.1);
	--clr-accent: oklch(71.06% 0.107 197.35);

	--clr-border: rgba(0, 0, 0, 0.1);
	--clr-shadow: rgba(0, 0, 0, 0.2);

	--clr-success: rgb(19, 193, 19);
	--clr-error: rgb(193, 19, 36);
	--clr-warn: rgb(19, 193, 19);
	--clr-info: oklch(0.5 0.28 268.68);
}

:root[data-theme='dark'] {
	--clr-text-0: oklch(93.86% 0.011 196.97);
	--clr-text-1: oklch(from var(--clr-text-0) calc(l - 0.1) c h);
	--clr-text-2: oklch(from var(--clr-text-0) calc(l - 0.2) c h);

	--clr-background: oklch(13.97% 0.008 196.32);
	--clr-background-1: oklch(from var(--clr-background) calc(l + 0.02) c h);
	--clr-background-2: oklch(from var(--clr-background) calc(l + 0.04) c h);

	--clr-primary: oklch(81.14% 0.056 197.54);
	--clr-secondary: oklch(51.56% 0.07 197.79);
	--clr-accent: oklch(75.85% 0.11 196.58);

	--clr-border: rgba(255, 255, 255, 0.05);
	--clr-shadow: rgba(0, 0, 0, 1);

	--clr-success: rgb(19, 193, 19);
	--clr-error: rgb(193, 19, 36);
	--clr-error-background: rgba(193, 19, 36, 0.4);
	--clr-warn: rgb(19, 193, 19);
	--clr-info: oklch(0.5 0.28 268.68);
}

:root {
	/* --clr-background-1: oklch(from var(--clr-background) calc(l + 0.02) c h);
	--clr-background-2: oklch(from var(--clr-background) calc(l + 0.04) c h); */

	/* --clr-border: rgba(255, 255, 255, 0.05); */
	--box-shadow-0: 0 2px 0.3rem -1px var(--clr-shadow);
	--box-shadow-0--hover: 0 4px 0.5rem -1px var(--clr-shadow);
	--border-0: 1px solid var(--clr-border);
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	color-scheme: light dark;
}

img {
	max-width: 100%;
	display: block;
}

button {
	all: unset;
}

/* Globals */
body {
	font-family: var(--ff-base);
	background-color: var(--clr-background);
	color: var(--clr-text-1);
	line-height: 1.6;
	transition: background-color 0.3s;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
	color: var(--clr-text-0);
}

a {
	color: var(--clr-primary);
}

a:hover,
a:focus {
	color: var(--clr-accent);
}

/* Forms */
input {
	all: unset;
	background-color: var(--clr-background-2);
	border-radius: 4px;
	border: 1px solid var(--clr-border);
	box-shadow: var(--box-shadow-0);
	padding: 0.5rem;
}

input.error {
	border-color: var(--clr-error);
}

.button {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background: var(--clr-background-2);
	border: 1px solid var(--clr-border);
	box-shadow: var(--box-shadow-0);
	cursor: pointer;
}

.button.primary {
	color: var(--clr-background-2);
	background: linear-gradient(320deg, var(--clr-primary), var(--clr-accent));
}

/* Utility */

.fx {
	display: flex;
}

.fx--cc {
	align-items: center;
	justify-content: center;
}

.fx--ac {
	align-items: center;
}

.fx--jc {
	justify-content: center;
}

.fx-inline {
	display: inline-flex;
}

.fx--col {
	flex-direction: column;
}

.fx-grow {
	flex-grow: 1;
}

.flow > * + * {
	margin-top: 1em;
}

.top-left-negative {
	margin-top: var(--standard-negative);
	margin-left: var(--standard-negative);
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.border-0 {
	border: var(--border-0);
}

.box-shadow-0 {
	box-shadow: var(--box-shadow-0);
}

/* replace with a color card */
.box-shadow-0-card {
	box-shadow: var(--box-shadow-0);
	border-radius: 3px;
	transition: box-shadow 0.3s;
}
.box-shadow-0-card:hover {
	box-shadow: var(--box-shadow-0--hover);
}
