// tr {
//     border-radius: 3px;
// }

$td-main-width: 40rem;

// :root {
//     --clr-text: hsl(260, 27%, 98%);--clr-text: hsl(260, 27%, 98%);
// }

td {
    padding: 0.5rem;
    text-align: left;
}

td.check {
    width: 2rem;
}

td.main {
    width: $td-main-width;

    > div {
        // width: 30%;
        // flex: 0 0 20rem;
        width: $td-main-width;

        .icon {
            font-size: 1.75em;
            width: 2em;
            position: relative;

            .indicator {
                position: absolute;
                display: inline-flex;
                bottom: 0.25rem;
                right: 0.25rem;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
                padding: 0.2rem;

                &--symlink {
                    iconify-icon {
                        font-size: 1rem;
                    }
                }

                &--broken-symlink {
                    iconify-icon {
                        font-size: 1rem;
                        color: red;
                    }
                }
            }

            a {
                text-decoration: none;
            }
        }

        .name {
            width: 60%;
        }
    }
}

td.actions {
    font-size: 1.5rem;

    .action {
        cursor: pointer;
        color: var(--clr-secondary);
        margin-right: 0.5rem;
        width: 2.1rem;
        height: 2.1rem;
        background: var(--clr-accent);
        opacity: 0.6;
        border-radius: 3px;
        transition: color 0.3s;

        &--invisible {
            opacity: 0 !important;
            pointer-events: none;
        }
    }
}

tbody > tr {
    &:hover {
        color: var(--clr-background);
        background-color: var(--clr-secondary);

        a {
            color: var(--clr-background);
        }

        td.actions .action {
            opacity: 0.8;
        }
    }

    td.actions .action:hover {
        opacity: 1;
        color: var(--clr-primary);
    }
}
